body{
  background-color: #d6d6d6;
  margin: 0;
  padding: 0;
  /*background: url() no-repeat;*/
  /*background-size: cover;*/
}

section{
  text-align: center;
  height: 73vh;
}

.background{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 111%;
  opacity: 0.9;
}

.wrapper{
  padding-top: 12vh;
  padding-right: 12vw;
}

.hello{
 margin: 19px;

 font-family: fantasy;
 font-size: 57px;
}
.myPic{
  width: 6px;
  border-radius: 100%;
  border: 4px solid #949292;
}

.myName{
  font-size: 24px;
  margin-top: 29px;
  font-family: monospace;
}

.sideBar{
  background-color: #151515;
  height: 100%;
  width: 176px;
  position: absolute;
  right: 0;
  top: 0;
  font-family: fantasy;
  font-size: 0.9em;
  color: #464646;
}

.sideBar > h2 {
  margin-bottom: 48px;

}

.logo{
  width: 151px;
    padding-top: 23px;
    padding-bottom: 22px;
}

.who-I-am:hover{
  color:#cecdcd;
  cursor: pointer;
}

.code-work:hover{
  color:#cecdcd;
  cursor: pointer;
}

.what-I-know:hover{
  color:#cecdcd;
  cursor: pointer;
}

.connect-me{

}

.connect-me:hover{
  color:#cecdcd;
  cursor: pointer;
}

.sideBar-nav{
  margin-top: 75px;
}
.sideBar-nav > h2{
  margin-bottom: 56px;
}

footer > img {
  width: 61%;
  position: absolute;
  bottom: -25px;
  left: 14%;
  height: 138px;
}
