body{
  background-color: #d6d6d6;
  margin: 0;
  padding: 0;
  background: url(http://cdn.wallpapersafari.com/70/96/youRHU.jpg) no-repeat;
  background-size: 100vw 100vh;
  }


section{
  text-align: center;
  height: 73vh;
}
.main-section{
  height: 100%
}

.background{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.wrapper{
  padding-top: 5vh;
  padding-right: 12vw;
  overflow: scroll;
  padding-bottom: 0;
  height: 95vh;
}


.hello{
 margin: 3px;
 text-shadow: 4px -3px 5px #565656;
 font-family: fantasy;
 font-size: 60px;
}
.myPic{
  width: 6px;
  border-radius: 100%;
  border: 2px solid #949292;
  box-shadow: 1px -5px 12px #403f3f;
  margin-top: 18px;
}

.myName{
  font-size: 31px;
    margin-top: 55px;
    color: #000000;
    text-shadow: 1px -2px 1px rgba(115, 115, 115, 0.5);
    font-family: monospace;
}

.who-I-am-text{
  width: 63%;
  margin-left: 20%;
}
.who-I-am-text > p{
  font-size: 22px;
  font-family: fantasy;
}

.sideBar{
  background-color: #151515;
  height: 100%;
  width: 176px;
  position: absolute;
  right: 0;
  top: 0;
  font-family: fantasy;
  font-size: 0.9em;
  color: #464646;
}

.sideBar > h2 {
  margin-bottom: 48px;

}

.logo{
  width: 151px;
    padding-top: 23px;
    padding-bottom: 22px;
}

.who-I-am:hover{
  color:#cecdcd;
  cursor: pointer;
}

.code-work:hover{
  color:#cecdcd;
  cursor: pointer;
}

.what-I-know:hover{
  color:#cecdcd;
  cursor: pointer;
}

.connect-me{

}

.connect-me:hover{
  color:#cecdcd;
  cursor: pointer;
}

.sideBar-nav{
  margin-top: 75px;
  display: none;
}
.sideBar-nav > h2{
  margin-bottom: 56px;
}
.who-I-am-text-and-footer-img{
  display: none;
}

.footer-img {
  width: 61%;
  height: 49px;

  }
