
  <img id='upClick' src="../imgs/up.png" alt="up" />
  <img id='downClick' src="../imgs/down.png" alt="down" />

<div class="projects-wrapper">
  <h2 id='code-work-id' class='hello'>Code work</h2>



  <div class="project-div">
    <div class="project-logo-and-name">
      <h4 id='project-name' class='hello'>samDj</h4>
      <img class='samDjLogo' src="imgs/samDJLogo.png" alt="logo"/>
      <div class="line">
      </div>
    </div>
    <div id='project-description' class="project-description">
      <p>
        A full stack web application that I built in two weeks during my time at DevMountain Coding Bootcamp,
        <span style="color:#f59e64">I was awarded "Best Use of Technology"</span>.</br>
        It is a <span style="color:#fe761b">D</span><span style="color:#d50044">J</span> mixer, I designed it all to be super fun and easy to use, it also very powerful,
         the user got all tools to <span style="color:#d45981">mix and upload </span>music online.
      </p>

    </div>
    <div class="project-imgs">
      <img class='prjectsImgs' src="imgs/djSamAbout.png" alt="" />
      <img class='prjectsImgs' src="imgs/djSamHome.png" alt="" />
      <img class='prjectsImgs' src="imgs/djsamBestSongs.png" alt="" />
      <img class='prjectsImgs' src="imgs/djSamUpload.png" alt="" />
    </div>
    <button class='btn' type="button" name="button" ng-click='goToSamDj()'>VIEW PROJECT</button>
    <button class='btn2' type="button" name="button">PREVIEW VIDEO</button>
  </div>
  <footer>
    <img class='footer-img' src="imgs/footerImg.png" alt="" />
  </footer>

  <div class="project-div">
    <div class="project-logo-and-name">
      <h4 id='project-name' class='hello'>The E-Piano</h4>
      <img class='e-piano-icon' src="imgs/EPianoIcon.jpg" alt="" />
      <div class="line">
      </div>
    </div>
    <div class="project-description">
      <p>
        <span style="color: #3ccffa;">E Piano</span> is a free online platform for anyone to use and enjoy.
         It empowers the users to experience <span style="color: #3ccffa;">playing the Piano</span> online with their computer keyboard,
          without downloading or installing an app. Users can play instantly,
           without prior knowledge of formal music notation.
      </p>
    </div>
    <div class="project-imgs">
      <img class='prjectsImgs' src="imgs/EpianoHome.png" alt="" />
      <img class='prjectsImgs' src="imgs/EpianoPlay.png" alt="" />
      <img class='prjectsImgs' src="imgs/EpianoListen.png" alt="" />
      <img class='prjectsImgs' src="imgs/EpianoTutorial.png" alt="" />
    </div>
    <button class='btn' type="button" name="button" ng-click='goToEpiano()'>VIEW PROJECT</button>
    <button class='btn2' type="button" name="button">PREVIEW VIDEO</button>
  </div>
  <footer>
    <img class='footer-img' src="imgs/footerImg.png" alt="" />
  </footer>

  <div class="project-div">
    <div class="project-logo-and-name">
      <h4 id='project-name' class='hello'>Alien Hunt</h4>
      <img class='alien-hunt-icon' src="imgs/alienHuntIcon.png" alt="" />
      <div class="line">
      </div>
    </div>
    <div class="project-description">
      <p>
        A full stack <span style="color:#698e30">HTML5 game</span>.
  During my time at Devmountain Coding Bootcamp, I worked with 3 developers to rebuild the Duck Hunt game with
   <span style="color:#698e30">alien</span> themes.
  I was responsible for timing, animation, functions, and sounds




      </p>

    </div>
    <div class="project-imgs">
      <img class='prjectsImgs' src="imgs/alienHuntHome.png" alt="" />
      <img class='prjectsImgs' src="imgs/alienHuntRound1.png" alt="" />
      <img class='prjectsImgs' src="imgs/alienHuntLaughing.png" alt="" />
      <img class='prjectsImgs' src="imgs/alienHuntRound2.png" alt="" />
    </div>
    <button class='btn' type="button" name="button" ng-click='goToAlienHunt()'>VIEW PROJECT</button>
    <button class='btn2' type="button" name="button">PREVIEW VIDEO</button>
  </div>
  <footer>
    <img class='footer-img' src="imgs/footerImg.png" alt="" />
  </footer>
</div>
