
<div class="contact-main-wrapper">
  <div class='header'>
    <img id='upClickContact' src="../imgs/up.png" alt="up" />
    
    <img id='downClickContact' src="../imgs/down.png" alt="down" />
  </div>

  <h2 id='contact' class='hello'>contact</h2>
    <div class="contact-content">
      <a href="SamerResume.pdf" target="_blank"><button class='btn' type="button" name="button">VIEW RESUME</button></a>
      <a href="SamerResume.pdf" download><button class='btn' type="button" name="button">DOWNLOAD RESUME</button></a>
      <div id="contact-background">
        <div class="phone">
          <img class='phone-icon' src="imgs/phone.png" alt="" />
          <p class='phone-text'>
            (469) 237-5051
          </p>
        </div>
        <div class="github" ng-click='goToGithub()'>
          <img class='github-icon' src="imgs/github.png" alt="" />
          <p class='github-text'>
            github.com/samaladhami
          </p>
        </div>
        <div class="email">
          <img class='email-icon' src="imgs/email.ico" alt="" />
          <p class='e-text'>
            samaladhami@gmail.com
          </p>
        </div>
        <div class="linkedin" ng-click='goToLinkedin()'>
          <img class='linkedin-icon' src="imgs/linkedin.png" alt="" />
          <p class='linkedin-text'>
          www.linkedin.com/in/samaladhami
          </p>
        </div>
        <div class="location">
          <img class='location-icon' src="imgs/location.png" alt="" />
          <p class='location-text'>
            Dallas, TX
          </p>
        </div>
        <div class="facebook" ng-click='goToFacebook()'>
          <img class='facebook-icon' src="imgs/facebook.png" alt="" />
          <p class='facebook-text'>
          www.facebook.com/samir.setoo
          </p>
        </div>
      </div>
      <footer>
        <img class='footer-img' src="imgs/footerImg.png" alt="" />
      </footer>
    </div>

</div>
