<section>
    <div class="main-section">
      <div class="wrapper">
        <h2 class='hello'>Hello</h2>
        <img class='myPic' src="myPic.png" alt="" />
        <div class='myName'>

        </div>
      </div>
    </div>
    <div class="sideBar">
      <img class='logo' src="logo.png" alt="" />
      <div class="sideBar-nav">
        <h2 class='who-I-am'>Who I am </h2>
        <h2 class='code-work'>Code work </h2>
        <h2 class='what-I-know'>What I know </h2>
        <h2 class='connect-me'>Connect me </h2>
      </div>
    </div>
</section>
