    <div class="main-section">
      <div class='header'>
        <img id='upClickHome' src="../imgs/up.png" alt="up" />
        <img id='downClickHome' src="../imgs/down.png" alt="down" />
      </div>
      <div class="wrapper">
        <h2 class='hello'>Hello</h2>
        <img class='myPic' src="imgs/myPic.png" alt="" />
        <div class='myName'>

        </div>
        <div class="who-I-am-text-and-footer-img">
            <div class="who-I-am-text">
              <p>
                I am a full stack web developer ,
                Electrical Engineer and Piano Player.
                Programing is my passion, I love solving complex problems.

              </p>
            </div>
            <footer>
              <img class='footer-img' src="imgs/footerImg.png" alt="" />
            </footer>
        </div>
      </div>
    </div>
