

  <div class="icons-wrapper">
    <h2 id='WhatIknow' class='hello'>What I know</h2>
  <img class='js' src="imgs/js.png" alt="" />
  <img class='HTML5' src="imgs/HTML5.png" alt="" />
  <img class='CSS3' src="imgs/CSS3.png" alt="" />
  <img class='angular' src="imgs/angular.png" alt="" />
  <img class='jquery' src="imgs/jquery.png" alt="" />
  <img class='Git' src="imgs/Git.png" alt="" />
  <img class='bootstrap' src="imgs/bootstrap.png" alt="" />
  <!-- <img class='sass' src="imgs/sass.png" alt="" /> -->
  <!-- <img class='react' src="imgs/react.png" alt="" /> -->
  <img class='Photoshop' src="imgs/Photoshop.png" alt="" />
  <img class='pixi' src="imgs/pixiIcon.png" alt="" />
  <img class='node' src="imgs/node.png" alt="" /> </br>
  <img class='MongoDB' src="imgs/MongoDB.png" alt="" />

  <footer>
    <img class='footer-img' src="imgs/footerImg.png" alt="" />
  </footer>

</div>
